<div id="<%= dom_id map %>">
  <p>
    <strong>Target:</strong>
    <%= map.target %>
  </p>

  <p>
    <strong>Maxzoom:</strong>
    <%= map.maxZoom %>
  </p>

  <p>
    <strong>Minzoom:</strong>
    <%= map.minZoom %>
  </p>

  <p>
    <strong>Initialzoom:</strong>
    <%= map.initialZoom %>
  </p>

  <p>
    <strong>Srid:</strong>
    <%= map.srid %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= map.public %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= map.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= map.latitude %>
  </p>

</div>
