<div class="row justify-content-center">
  <div class="col-md-6">
    <%= form_with(model: style) do |form| %>
      <% if style.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(style.errors.count, "error") %> prohibited this style from being saved:</h2>

          <ul>
            <% style.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
          </ul>
        </div>
      <% end %>

              <div class="mb-3">
                      <%= form.label :opacity, style: "display: block", class: "form-label" %>
            <%= form.text_field :opacity, class: "form-control" %>
                  </div>
              <div class="mb-3">
                      <%= form.label :fill_id, style: "display: block", class: "form-label" %>
            <%= form.text_field :fill_id, class: "form-control" %>
                  </div>
              <div class="mb-3">
                      <%= form.label :stroke_id, style: "display: block", class: "form-label" %>
            <%= form.text_field :stroke_id, class: "form-control" %>
                  </div>
      
      <div class="mb-3">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
