<div id="<%= dom_id layer %>">
  <p>
    <strong>Name:</strong>
    <%= layer.name %>
  </p>

  <p>
    <strong>Layer:</strong>
    <%= layer.layer %>
  </p>

  <p>
    <strong>Show legend:</strong>
    <%= layer.show_legend %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= layer.type %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= layer.source %>
  </p>

  <p>
    <strong>Srid:</strong>
    <%= layer.srid %>
  </p>

  <p>
    <strong>Display:</strong>
    <%= layer.display %>
  </p>

  <p>
    <strong>Primitive:</strong>
    <%= layer.primitive %>
  </p>

  <p>
    <strong>Imagery:</strong>
    <%= layer.imagery %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= layer.style_id %>
  </p>

  <p>
    <strong>Ordem:</strong>
    <%= layer.ordem %>
  </p>

  <p>
    <strong>Map:</strong>
    <%= layer.map_id %>
  </p>

</div>
