<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4">Detalhes do Layer</h4>
  <div class="row">
    <!-- Basic -->
    <div class="col-md-12 mb-4">
      <div class="card">
        <h5 class="card-header">
       
        </h5>
        <div class="card-body">
        <p style="color: green"><%= notice %></p>
            <%= render @layer %>
            <div>
            <%= link_to "Edit this layer", edit_layer_path(@layer) %> |
            <%= link_to "Back to layers", layers_path %>
            <%= button_to "Destroy this layer", @layer, method: :delete %>
           </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
